
   :root
      --white_color:#fff
      --primary_color:#2D4059
      --secondary_color:#EA5455
      --third_color:#EA5455
      --fourth_color:#F07B3F
      --h1Weight:3.75rem
      --h2Weight:2.75rem
      --h3Weight:1.75rem
      --h4Weight:0.75rem
      --base_fontsize:14px
   
   $base_color: #000
   $primary_color: var(--primary_color)
   $secondary_color: var(--secondary_color)
   $third_color: var(--third_color)
   $fourth_color: var(--fourth_color)
   $h1Weight: var(--h1Weight)
   $h2Weight: var(--h2Weight)
   $h3Weight: var(--h3Weight)
   $base_fontsize: var(--base_fontsize) 
   $dark_opacity: rgba($base_color, 0.5)
   $dark_opacity2: rgba($base_color, 0.1)